<%- include('./partials/head.ejs') %>

<main>

<section class="left-desktop">
  <h2>Astronomy Picture Of The Day</h2>


  <!-- hulp van chatgpt: De toISOString()-methode wordt 
      gebruikt om de huidige datum om te zetten naar een ISO 8601-datumnotatie 
      die wordt verwacht door het max-attribuut van het datumveld. De split('T')[0] 
      wordt gebruikt om alleen de datum te extraheren zonder het tijdstempelgedeelte. -->
  <form action="/day.ejs" method="get">
      <label class="day-picker" for="day">Pick a day:</label>
      <input type="date" 
      id="day" 
      name="day"
      value="<%= apodData.date %>"
        min="2015-01-01" 
        max="<%= apodData.date %>">
      <input type="submit" value="CHOOSE DAY ðŸš€">
    </form>

  <h3><%- apodData.title %></h3>

  <div class="image-container">
    <button popovertarget="image-popover">
        <img src="<%- apodData.url %>" alt="Astronomy Picture" width="100%">
    </button>

    <div class="img-popover-container" id="image-popover" popover>
        <button class="popover-close" popovertarget="image-popover" popovertargetaction="hide">
            <span>Close &#10006;</span>
        </button>
        <img src="<%- apodData.hdurl %>" alt="Astronomy Picture">
    </div>

    <% if(apodData.copyright){ %>
        <p class="copyright">&#169; <%= apodData.copyright %></p>
    <% } %>
</div>

  <section class="explanation">
    <h4>Explanation:</h4>
    <p><%= apodData.explanation %></p>
  </section>
</section>

<!-- right part desktop -->

<section class="right-desktop">
  <section class="comments">
    <section class="desktop-comments-container">
      <h4>Comments:</h4>
      <p class="no-messages-yet"></p>
      <section class="column-reverse">

      <% messages.forEach(message => { %>
        <% const dateStr = message.Date; %>
        <% const parsedDate = new Date(dateStr); %>
        <% const year = parsedDate.getFullYear(); %>
        <% const month = String(parsedDate.getMonth() + 1).padStart(2, "0"); %>
        <% const day = String(parsedDate.getDate()).padStart(2, "0"); %>
        <% const formattedDates = `${year}-${month}-${day}`; %>


        <% if(apodData.date === formattedDates) { %>
            <section class="messages">
                <h5><%- message.Name %><span><%- message.Today %></span></h5>
                <p><%- message.Message %></p>
            </section>
        <% } %> 
      <% }); %>
      </section>
      <button class="more-messages">READ ALL MESSAGES ðŸŒ </button>
    </section>

    <section class="form-message-container">
      <h4>Add your comment:</h4>
      <form action="/day.ejs?day=<%= apodData.date %>" method="post">
          <fieldset class="post-form">
              <label for="Name">Name:
              <input name="Name" id="Name" type="text" required>
              </label>

              <label for="Message">Message:
              <input name="Message" id="Message" type="text" required>
              </label>

              <input type="submit" value="SEND ðŸ›°ï¸">

          </fieldset>
      </form>
    </section>
  </section>
</section>
</main>

<%- include('./partials/foot.ejs') %>